html {
  background-image: url(https://mocah.org/uploads/posts/124416-miui-8-rainy-weather-background-minimal-hd.png);
}
body {
  font-family: "Open Sans", sans-serif;
  background: transparent;
}

.heading {
  background: transparent;
  color:lightcoral;
  text-align: center;
  padding: 10px;
  font-size: 36px;
}
h1 {
  font-size: 88px;
  font-family: 'Passion One', cursive;
  text-shadow: 1.5px 2px 4px black;
}
input {
  width: 75%;
}

#city-list {
  width: 22rem;
}

#city-date-icon,
#city-name,
#current-icon {
    display: flex;
    flex-direction: row;
    justify-content: center/space-around/space-between;
}

h6 {
  font-size: 42px;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 1px 1.5px 3px black;
  color: lightcoral;
}

h4 {
    margin: 5px;
    font-size: 36px;
    font-family: 'Fjalla One', sans-serif;
    text-shadow: 1px 1.5px 3px black;
    color: lightcoral;
}

h3 {
  font-size: 48px;
  font-weight: bold;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 1px 1.5px 3px black;
  color: lightcoral;
}

#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center/space-between;
}

.forecast {
    margin: 10px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: lightskyblue;
  color:lightcoral;
 
  text-align: center;
  font-family: 'Suez One', serif;
}

.github {
  font-size: 24px;
}